<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

<servlet>
    <servlet-name> RegisterServlet</servlet-name>
    <servlet-class> Servlets.RegisterServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
</servlet-mapping>

    <servlet>
        <servlet-name>MovieServlet</servlet-name>
        <servlet-class>Servlets.MoviesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MovieServlet</servlet-name>
        <url-pattern>/movies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MakeReservServlet</servlet-name>
        <servlet-class>Servlets.MakeReservServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MakeReservServlet</servlet-name>
        <url-pattern>/makeReservation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allReservationsServlet</servlet-name>
        <servlet-class>Servlets.allReservationsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allReservationsServlet</servlet-name>
        <url-pattern>/allReservations</url-pattern>
    </servlet-mapping>

</web-app>